<main class="p-5">
    <h1 class="my-4">
        Hello! <i class="bi bi-emoji-smile-fill"></i>
        <i class="fa-brands fa-slack fa-beat fa-2xl" style="color: #8fcc1e;"></i>
        <i class="fa-solid fa-brain fa-bounce" style="color: #2e0ae6;"></i>
    </h1>
    <div class="m-5">
        <button class="btn btn-primary">
            <i class="bi bi-sd-card"></i>
        </button>
        <button class="btn btn-danger">
            <i class="bi bi-sd-card"></i>
            <i class="fa-solid fa-brain fa-bounce" style="color: #2e0ae6;"></i>
        </button>
        <button class="btn btn-warning">
            <i class="bi bi-sd-card"></i>
            <i class="fa-brands fa-slack fa-beat fa-2xl" style="color: #8fcc1e;"></i>
        </button>
        <div class="my-5">
            <i class="fa-brands fa-slack fa-beat fa-2xl" style="color: #8fcc1e;"></i>
        </div>

    </div>

    <div class="my-3">
        <img src="/svg/slack.svg">
    </div>

    <div>
        <i class="fa-solid fa-brain fa-bounce" style="color: #2e0ae6;"></i>
    </div>
</main>