<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello world!</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>

    <span class="text-muted">Додатковий текст</span>


    <div class="text-muted text-end">
        Додатковий <span class="display-6">текст</span>
    </div>

    <div class="text-muted text-end">
        Додатковий текст
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary</span>
        <h1>Test</h1>
    </button>

    <button class="btn btn-primary">
        <span class="text-success">Button primary</span>
        <h1>Test</h1>
    </button>

    <button class="btn btn-success">Button primary</button>

    <bytton class="btn btn-secondary">Button</bytton>

    <hr>

    <button class="btn">Button</button>
    <button class="btn btn-primary">Button</button>
    <button class="btn btn-secondary">Button</button>
    <button class="btn btn-success">Button</button>
    <button class="btn btn-danger">Button</button>
    <button class="btn btn-warning">Button</button>
    <button class="btn btn-info">Button</button>
    <button class="btn btn-light">Button</button>
    <button class="btn btn-dark">Button</button>
    <button class="btn btn-link">Button</button>
    <a href="#" class="btn btn-primary">Button</a>

    <hr>

    <p class="text-primary">My text</p>
    <p class="text-secondary">My text</p>
    <p class="text-success">My text</p>
    <p class="text-danger">My text</p>
    <p class="text-warning">My text</p>
    <p class="text-info">My text</p>
    <p class="text-light">My text</p>
    <p class="text-dark">My text</p>
    <p class="text-link">My text</p>

    <hr>

    <button class="btn btn-outline-primary btn">Button</button>
    <button class="btn btn-outline-secondary">Додати</button>
    <button class="btn btn-outline-secondary">Редагувати</button>
    <button class="btn btn-outline-danger">Видалити</button>
    <button class="btn btn-outline-warning">Button</button>
    <button class="btn btn-outline-success btn-lg">Button</button>
    <button class="btn btn-outline-info btn-sm">Button</button>
    <button class="btn btn-outline-light">Button</button>
    <button class="btn btn-outline-dark">Button</button>
    <button class="btn btn-outline-link">Button</button>

    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn">Button</button>
            <button class="btn btn-outline-secondary">Додати</button>
            <button class="btn btn-outline-secondary">Редагувати</button>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

</main>