<footer class="m-4">
    <hr class="my-5">
    <div>
        {{#with social}}
        {{> link text=email.text href=email.href }}
        {{> link text=phone.text href=phone.href }}
        {{> link text=linkedin.text href=linkedin.href blank=false noLine=true}}
        {{/with}}
    </div>
    <div>
        <em>Copyright by {{firstname }} {{lastname}}</em>
    </div>
    <div>
        <address>{{address}}</address>
    </div>
</footer>